
################################################################################
#
#   Files for git to ignore
#
################################################################################

# Qchem files
.input.qcin*
*.efld

# Unix swap (.swp) files
*.swp

# Compiled Python modules
*.pyc
*.so
*.pyd

# MacOS files
.DS_Store

# Scratch
scratch/

# iPython files
*.ipynb_*